.title{
    font-weight: 400;
    font-size: 1.3em;
}
.overwiew:hover{
    overflow-y: auto;
}
.overwiew{
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.1em;
    height: 130px;
    overflow-y: hidden;
    margin: 1% 0;
}

.rating_container{
    display: flex;
}

.rating{
    margin-top: 3px;
    margin-left: 5px;
}